/* CSS Variables */

:root {
    --primary-color: #87CEEB;
    --secondary-color: #A3C9A8;
    --background-color: #E0E0E0;
    --text-color: #333333;
    --highlight-color-one: #FF6F61;
    --highlight-color-two: #FFD800;
    --body-font: 'Montserrat', sans-serif;
    --heading-font: 'Roboto Mono', monospace;
}

/* Global Styles */

body {
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color);
    /* Styles for the footer to stay at the bottom of the page */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Button Styles */

.primary-button {
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
    padding: 7px 15px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.primary-button:hover {
    background-color: transparent;
    border: 3px solid var(--primary-color);
}

.secondary-button {
    background-color: var(--secondary-color);
    border: 3px solid var(--secondary-color);
    padding: 7px 15px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.secondary-button:hover {
    background-color: transparent;
    border: 3px solid var(--secondary-color);
}

.delete-button {
    background-color: var(--highlight-color-one);
    border: 3px solid var(--highlight-color-one);
    padding: 7px 15px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.delete-button:hover {
    background-color: transparent;
    border: 3px solid var(--highlight-color-one);
}

.small-button {
    padding: 3px 10px;
    font-size: 0.9rem;
}

/* Navbar Styles */

.navbar-brand {
    font-family: var(--heading-font);
}

.nav-link, .navbar-brand {
    color: var(--text-color);
}

.nav-link:hover, .navbar-brand:hover {
    text-decoration: underline;
}

/* Index Page Styles */

.category-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.category-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-link {
    text-decoration: none;
    color: var(--text-color);
}

.category-link:hover {
    text-decoration: underline;
}

/* Category Detail Page Styles */

.resource-link {
    color: var(--text-color);
}

/* Signup Page Styles */

.signup ul {
    text-align: left;
    padding-left: 15%;
}

.signup ul:not(.errorlist) {
    list-style-type: disc;
}

.errorlist {
    color: red;
}

/* Footer Styles */

.footer-icon {
    font-size: 1.5rem;
    color: var(--text-color);
    transition: color 0.2s;
}

.footer-icon:hover {
    color: var(--primary-color);
}

/* Media Queries */

/* Small Screens (<576px) */
@media (max-width: 576px) {
    /* Responsive styles for signup page */
    .signup input {
        width: 100%;
    }

    .signup ul {
        padding-left: 0;
    }
    
    .signup ul:not(.errorlist) {
        list-style-type: none;
    }
}