/* CSS Variables */

:root {
    --primary-color: #87CEEB;
    --secondary-color: #A3C9A8;
    --background-color: #E0E0E0;
    --text-color: #333333;
    --highlight-color-one: #FF6F61;
    --highlight-color-two: #FFD800;
    --body-font: 'Montserrat', sans-serif;
    --heading-font: 'Roboto Mono', monospace;
}

/* Global Styles */

body {
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color);
    /* Styles for the footer to stay at the bottom of the page */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

/* Button Styles */

.primary-button {
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.primary-button:hover {
    background-color: transparent;
    border: 3px solid var(--primary-color);
}

/* Navbar Styles */

.navbar-brand {
    font-family: var(--heading-font);
}

.nav-link, .navbar-brand {
    color: var(--text-color);
    transition: color 0.2s;
}

.nav-link:hover, .navbar-brand:hover {
    color: var(--primary-color);
}

/* Footer Styles */

.footer-icon {
    font-size: 1.5rem;
    color: var(--text-color);
    transition: color 0.2s;
}

.footer-icon:hover {
    color: var(--primary-color);
}
