{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row text-center">
        {% if user.is_authenticated %}
<h1 class="my-4">Add New Resource</h1>
<p class="lead">Contribute a new resource to the Developer Toolkit.</p>
</div>
<div class="row">
<div class="col-md-8 offset-md-2">
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn primary-button mb-4">Submit</button>
</form>
</div>
</div>
        {% else %}
        <h1 class="my-4">Authentication Required</h1>
        <p>Please <a href="{% url 'account_login' %}">log in</a> to submit a new resource.</p>
        {% endif %}
</div>
{% endblock content %}