{% extends "base.html" %}
{% load crispy_forms_tags %}
{% url 'edit_resource' as edit_resource_url %}

{% block content %}
<div class="container">
    <div class="row text-center">
        {% if user.is_authenticated %}
<h1 class="my-4">
    {% if request.resolver_match.url_name == 'edit_resource' %} Edit Resource
    {% else %}
    Add New Resource
    {% endif %}
</h1>
<p class="lead">Contribute towards helping developers.</p>
</div>
<div class="row">
<div class="col-md-8 offset-md-2">
<form method="post" id="resource_form">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn primary-button mb-4">Submit</button>
</form>
</div>
</div>
        {% else %}
        <h1 class="my-4">Authentication Required</h1>
        <p>Please <a href="{% url 'account_login' %}">log in</a> to submit a new resource.</p>
        {% endif %}
</div>
{% endblock content %}