{% extends "base.html" %}

{% block title %}{{ category.name }} - {% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <h1 class="mt-4">{{ category.name }}</h1>
        {% if resources|length != 0 %}
            <p class="lead">{{ resources|length }} Resource{{ resources|length|pluralize }} under the "{{ category.name }}" category.</p>
            <form method="get">
                <!-- Sort By Accordion Start -->
                <div class="accordion" id="resourceSortAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Sort By
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#resourceSortAccordion">
                            <div class="accordion-body text-start">
                                <select id="sort_by" class="form-select" aria-label="Sort resources" name="sort_by">
                                    <option value="alphabetical" selected>Alphabetical</option>
                                    <option value="newest">Newest</option>
                                    <option value="oldest">Oldest</option>
                                    <option value="most_favorited">Most Favorited</option>
                                </select>
                                <button type="submit" class="btn primary-button mt-2">Sort</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sort By Accordion End -->
            </form>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <!-- Resources List Start -->
            <ul class="list-group my-4">
                {% if resources|length == 0 %}
                    <p class="lead text-center">There are no resources under this category yet.</p>
                {% endif %}
                {% for u_resource in unapproved_resources %}
                    <li class="list-group-item text-center text-sm-start d-sm-flex justify-content-between align-items-center">
                        <a href="#{{ u_resource.id }}Modal" class="list-group-item-action resource-link" data-bs-toggle="modal">
                            <h2 class="h4 overflow-wrap">{{ u_resource.name }}<span class="badge text-dark pending-approval-badge">Pending Approval</span></h2>
                        </a>
                        <a href="{% url 'edit_resource' u_resource.id %}" class="btn secondary-button small-button ms-2" role="button">Edit</a>
                        <a href="#{{ u_resource.id }}DeleteModal" class="btn delete-button small-button ms-2" data-bs-toggle="modal" role="button">Delete</a>
                    </li>
                {% endfor %}
                {% for resource in resources %}
                    <li class="list-group-item text-center text-sm-start d-sm-flex justify-content-between align-items-center">
                        <a href="#{{ resource.id }}Modal" class="list-group-item-action resource-link" data-bs-toggle="modal">
                            <h2 class="h4 overflow-wrap">{{ resource.name }}</h2>
                        </a>
                        {% if user.is_authenticated %}
                        {% if resource in favorite_resources %}
                        <a href="{% url 'favorite_resource' resource.id %}" class="ms-2 favorite-link"
                        aria-label="Remove {{ resource.name }} from favorites" title="Remove {{ resource.name }} from favorites"><i class="bi bi-bookmark-star-fill"></i>{% else %}
                        <a href="{% url 'favorite_resource' resource.id %}" class="ms-2 favorite-link"
                        aria-label="Add {{ resource.name }} to favorites" title="Add {{ resource.name }} to favorites"><i class="bi bi-bookmark-star"></i>{% endif %}</a>
                        {% if user.is_authenticated and user == resource.uploader %}
                        <a href="{% url 'edit_resource' resource.id %}" class="btn secondary-button small-button ms-2" role="button">Edit</a>
                        <a href="#{{ resource.id }}DeleteModal" class="btn delete-button small-button ms-2" data-bs-toggle="modal" role="button">Delete</a>
                        {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <!-- Resources List End -->
        </div>
    </div>
</div>
{% for u_resource in unapproved_resources %}
<!-- Modal Start -->
    <div class="modal fade" id="{{ u_resource.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ u_resource.id }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5 overflow-wrap" id="{{ u_resource.id }}ModalLabel">{{ u_resource.name }}</h3>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" role="alert">
                        This resource is pending approval from an administrator.
                    </div>
                    <strong>Description: </strong>
                    <textarea readonly class="desc-textarea" rows="4">{{ u_resource.description }}</textarea>
                    <p>
                        <strong>URL: </strong>
                        <a href="{{ u_resource.url }}">{{ u_resource.url }}</a>
                    </p>
                    <p><strong>Category: </strong>{{ u_resource.category.name }}</p>
                    <p><strong>Uploaded by: </strong>{{ u_resource.uploader.username }}</p>
                    <p><strong>Keywords: </strong>{{ u_resource.keywords.all|join:", " }}</p>
                    <p><strong>Favorites: </strong>{{ u_resource.favorites.count }}</p>
                    <p><strong>Last Updated: </strong>{{ u_resource.updated_at|date:"F j, Y, g:i a"|default:"N/A"}}</p>
                </div>
                <div class="modal-footer justify-content-start justify-content-sm-end">
                <a href="{{ u_resource.url }}" role="button" class="btn primary-button">Visit Site</a>
                </div>
            </div>
        </div>
    </div>
<!-- Modal End -->
{% endfor %}

{% for resource in resources %}
<!-- Modal Start -->
    <div class="modal fade" id="{{ resource.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ resource.id }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5 overflow-wrap" id="{{ resource.id }}ModalLabel">{{ resource.name }}</h3>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <strong>Description: </strong>
                    <textarea readonly class="desc-textarea" rows="4">{{ resource.description }}</textarea>
                    <p>
                        <strong>URL: </strong>
                        <a href="{{ resource.url }}">{{ resource.url }}</a>
                    </p>
                    <p><strong>Category: </strong>{{ resource.category.name }}</p>
                    <p><strong>Uploaded by: </strong>{{ resource.uploader.username }}</p>
                    <p><strong>Keywords: </strong>{{ resource.keywords.all|join:", " }}</p>
                    <p><strong>Favorites: </strong>{{ resource.favorites.count }}</p>
                    <p><strong>Last Updated: </strong>{{ resource.updated_at|date:"F j, Y, g:i a"|default:"N/A"}}</p>
                </div>
                <div class="modal-footer justify-content-start justify-content-sm-end">
                {% if user.is_authenticated %}
                    {% if resource in favorite_resources %}
                        <a href="{% url 'favorite_resource' resource.id %}" class="btn delete-button">Remove from Favorites</a>
                    {% else %}
                        <a href="{% url 'favorite_resource' resource.id %}" class="btn secondary-button">Add to Favorites</a>
                    {% endif %}
                {% endif %}
                <a href="{{ resource.url }}" role="button" class="btn primary-button">Visit Site</a>
            </div>
        </div>
    </div>
    </div>
<!-- Modal End -->
{% endfor %}

{% for u_resource in unapproved_resources %}
<!-- Delete Confirmation Modal Start -->
    <div class="modal fade" id="{{ u_resource.id }}DeleteModal" tabindex="-1" role="dialog" aria-labelledby="{{ u_resource.id }}DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5 overflow-wrap" id="{{ u_resource.id }}DeleteModalLabel">Delete {{ u_resource.name }}</h3>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this resource?</p>
                </div>
                <div class="modal-footer justify-content-start justify-content-sm-end">
                    <a href="{% url 'delete_resource' u_resource.id %}" role="button" class="btn delete-button">Delete</a>
                    <button class="btn secondary-button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
<!-- Delete Confirmation Modal End -->
{% endfor %}

{% for resource in resources %}
<!-- Delete Confirmation Modal Start -->
    <div class="modal fade" id="{{ resource.id }}DeleteModal" tabindex="-1" role="dialog" aria-labelledby="{{ resource.id }}DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5 overflow-wrap" id="{{ resource.id }}DeleteModalLabel">Delete {{ resource.name }}</h3>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this resource?</p>
                </div>
                <div class="modal-footer justify-content-start justify-content-sm-end">
                    <a href="{% url 'delete_resource' resource.id %}" role="button" class="btn delete-button">Delete</a>
                    <button class="btn secondary-button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
<!-- Delete Confirmation Modal End -->
{% endfor %}
{% endblock %}