{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="mt-4">Developer Toolkit</h1>
            <p class="lead">Helpful resources by developers, for developers.</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col text-center">
            {% if user.is_authenticated %}
            <a class="btn primary-button" href="{% url 'add_resource' %}" role="button">Add New Resource</a>
            {% else %}
            <a class="btn primary-button" href="{% url 'account_signup' %}" role="button">Register</a>
            <a class="btn secondary-button" href="{% url 'account_login' %}" role="button">Sign In</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <form action="{% url 'search_resources' %}" method="get">
            <div class="input-group mb-4">
                <input type="text" class="form-control" name="q" placeholder="Search resources..." aria-label="Search resources" aria-describedby="button-search">
                <button class="btn secondary-button small-button" type="submit" id="button-search">Search</button>
            </div>
            <div class="accordion" id="searchFiltersAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Search Filters &amp; Sort By
                    </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#searchFiltersAccordion">
                        <div class="accordion-body">
                            <h3 class="h5">Search in:</h3>
                            <div class="input-group mb-4 flex-column flex-sm-row">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="in" type="checkbox" id="name_checkbox" value="name" checked>
                                    <label class="form-check-label" for="name_checkbox">Name</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="in" type="checkbox" id="desc_checkbox" value="description">
                                    <label class="form-check-label" for="desc_checkbox">Description</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="in" type="checkbox" id="keywords_checkbox" value="keywords">
                                    <label class="form-check-label" for="keywords_checkbox">Keywords</label>
                                </div>
                            </div>
                            <h3 class="h5">Sort by:</h3>
                            <select class="form-select" aria-label="Sort resources" name="sort_by">
                                <option value="alphabetical" selected>Alphabetical</option>
                                <option value="newest">Newest</option>
                                <option value="oldest">Oldest</option>
                                <option value="most_favorited">Most Favorited</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-12 text-center my-4">
            <h2>Categories</h2>
        </div>
        {% for category in categories %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3 text-center">
            <div class="card category-card">
                <div class="card-body">
                    <a href="{% url 'category_detail' category.id %}" class="category-link">
                        <h3 class="card-title">{{ category.name }}</h3>
                    </a>
                </div>
            </div>
        </div>
{% endfor %}
    </div>
</div>
{% endblock %}